@font-face {
  font-family: nanum;
  src: url("../font/NanumBarunGothic.otf");
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  font-size: 15px;
  font-family: nanum;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #0B0B3B;
  position: fixed;
  z-index: 1000;
  color: white;
  font-size: 3rem;
  line-height: 100px;
  padding-left: 30px;
}

.search {
  width: 100%;
  margin-top: 100px;
  margin-left: 150px;
  padding: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}
.search input {
  width: 150px;
  margin: 5px;
}
.search div {
  width: 100px;
  margin: 5px;
}
.search .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 3px;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100px;
}
.search .search_date {
  width: 250px;
  font-size: 1.5rem;
  font-weight: 800;
}

#wrap {
  width: calc(100% - 150px);
  float: left;
  position: relative;
  margin-left: 150px;
  margin-top: 0px;
  padding: 25px;
  margin-top: -35px;
}

#left_menu {
  width: 150px;
  height: calc(100vh - 100px);
  float: left;
  position: fixed;
  margin-top: 100px;
  background-color: #BDBDBD;
}

#right_menu {
  width: 100px;
  height: 100vh;
  float: left;
  position: relative;
  margin-top: 100px;
}

#section_title {
  font-size: 1.7rem;
  font-weight: bold;
  color: #2E2E2E;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2.5px solid #F7D358;
}
#section_title span {
  background-color: #F7D358;
  padding: 10px 10px 5px 10px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #2E2E2E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu_title_small {
  font-size: 1.1rem;
  width: 100%;
  font-weight: 800;
}

.section_wrap {
  width: 100%;
  height: 350px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.section_wrap .content {
  margin: 0px 5px 0px 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.section_wrap .content #menu_title {
  font-size: 1.3rem;
  font-weight: bold;
}
.section_wrap .content .graph_content {
  flex: 1;
  border-radius: 10px;
  border: 2px solid #272727;
  height: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}
.section_wrap .content .graph_content img {
  height: 100%;
}
.section_wrap .content .normal_content {
  flex: 1;
  border-radius: 10px;
  border: 2px solid #272727;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}
.section_wrap .content .normal_content img {
  height: 100%;
}
.section_wrap .content .explain_title {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  flex: 1;
  margin: 10px;
  font-weight: bold;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_wrap .content .explain_title .material-icons {
  margin-right: 10px;
}
.section_wrap .content .explain_title .loss_data {
  color: #FE2E2E;
}
.section_wrap .content #download_data01 {
  flex: 2;
}
.section_wrap .content #download_data02 {
  flex: 2.5;
}
.section_wrap .horizen {
  flex-direction: row;
}

.section_size_L {
  height: 500px;
}

.section_size_S {
  height: 50px;
  border-radius: 10px;
  border: 2px solid #272727;
}

.wc_category_list {
  width: 100%;
  height: 50px;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}
.wc_category_list .list_title {
  width: 20%;
  height: 50px;
  float: left;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #272727;
}
.wc_category_list .list_title .cat_kind_01 {
  background-color: #272727;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0px 10px 0 10px;
}
.wc_category_list .list_title .cat_kind_02 {
  background-color: #248F57;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0px 10px 0 10px;
}
.wc_category_list .list_title .cat_kind_03 {
  background-color: #DE214D;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0px 10px 0 10px;
}
.wc_category_list .list_title .cat_kind_04 {
  background-color: #FF4000;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0px 10px 0 10px;
}
.wc_category_list .list_title .cat_kind_05 {
  background-color: #073191;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0px 10px 0 10px;
}
.wc_category_list .list_title:first-child {
  border-top-left-radius: 10px;
}
.wc_category_list .list_title:last-child {
  border-top-right-radius: 10px;
}

.wc_display {
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 10px;
}
.wc_display .content_display {
  width: 100%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.wc_display .content_display .keyword {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wc_display .content_display .keyword .keyword_list {
  flex: 1;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
  font-weight: bold;
  float: left;
  margin: 2px 5px 2px 5px;
  border-radius: 5px;
  border: 2px solid #272727;
  background-color: white;
}
.wc_display .content_display .keyword .keyword_list:first-child {
  margin-left: 0px;
}
.wc_display .content_display .keyword .keyword_list:last-child {
  margin-right: 0px;
}
.wc_display .content_display .top5_news_list {
  width: 100%;
}
.wc_display .content_display .top5_news_list .n_list {
  width: 100%;
  height: 30px;
  font-size: 1rem;
  line-height: 30px;
}
.wc_display .content_display .emotion_temp {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.wc_display .content_display .emotion_temp .emo_bar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.wc_display .content_display .emotion_temp .emo_bar .good {
  background-color: #2E64FE;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.wc_display .content_display .emotion_temp .emo_bar .bad {
  background-color: #FE2E2E;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

rect {
  border-radius: 10px !important;
}

.bar_c {
  border-radius: 10px !important;
}

.red {
  fill: #FE2E2E;
}

.blue {
  fill: #0080FF;
}

.green {
  fill: #04B404;
}

.yellow {
  fill: #F7D358;
}

#x_scale {
  font-family: nanum;
  font-size: 0.9rem;
}

#y_scale {
  font-family: nanum;
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */
