<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<style>
    #wrap { width:1200px; margin:0 auto;}
</style>

<body> 
    <div id="wrap">
        <h3>오늘의 기분 DashBoard</h3> 
        
        <div>
            <input id="total_search_date" type="text" value="">
            <input id="total_search_date_btn" type="button" value="검색">
        </div>

        <h4 id="load_state">로딩중...</h4>

        <table class="table" id="yesterday_info">
            <tr>
                <th>ID</th>
                <th>카테고리</th>
                <th>기사제목</th>
                <th>좋아요</th>
                <th>훈훈해요</th>
                <th>슬퍼요</th>
                <th>화나요</th>
                <th>기대되요</th>
            </tr>

        </table>
    </div>


</body>
    <script>
        window.onload = function(){
            let today = new Date();
            let yesterday = new Date();
            //yyyy-mm-dd 포맷 날짜 생성
            //해당 내용 함수화 하기
            let r_yesterday = yesterday.getFullYear() + "-" + ((yesterday.getMonth() + 1) > 9 ? (yesterday.getMonth() + 1).toString() : "0" + (yesterday.getMonth() + 1)) + "-" + ((yesterday.getDate()-1) > 9 ? (yesterday.getDate()-1).toString() : "0" + (yesterday.getDate()-1).toString());
            //alert(r_yesterday);
            //로딩이 떠야 한다.
            let yesterday_info = document.getElementById("yesterday_info");
            let locate = "/total_data/date/" + r_yesterday;
            let load_message = document.getElementById("load_state");
            $.ajax({ 
                url:locate, 
                type:"GET",
                dataType:"JSON",
                success: function(result) { 
                    if (result) 
                    { 
                        //특정화면에 로딩 성공 떠야한다.
                        load_message.innerHTML="로딩이 완료되었습니다. 오늘의 데이터 양 : " + result.length + " 개";
                        var i = 0;
                        var json_list = ["idx", "n_category", "n_title", "n_e_like", "n_e_good", "n_e_sad", "n_e_angry","n_e_expect"];
                        for(i=0; i < 10; i++)
                        {
                            var obj_row = document.all["yesterday_info"].insertRow();
                            for(j=0; j < json_list.length; j++)
                            {
                                let td01 = obj_row.insertCell();
                                td01.innerHTML = result[i][json_list[j]]
                            }
                            
                            console.log(result[i]);
                        }
                        

                    } 

                    else{
                        load_message.innerHTML="로딩에 실패 하였습니다.";
                        //특정 화면에 로딩 실패가 떠야한다.
                    } 
                } 
            });

        }
        let total_search_date_btn = document.getElementById("total_search_date_btn");
        
        //날짜 검색
        total_search_date_btn.onclick = function(){
            let search_total_date = document.getElementById("total_search_date").value;

            let locate = "/total_data/date/" + search_total_date;
            $.ajax({ 
                url:locate, 
                type:"GET", 
                success: function(result) { 
                    if (result) 
                    { 
                        alert("불러오기 성공");
                        console.log(result);
                    } 

                    else{ 
                        alert("불러오기 실패"); 
                    } 
                } 
            });

        }

    </script>
</html>


