<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <!-- <link rel="stylesheet" type="text/css" href="/naver_news_crolling/flask/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js" type="text/JavaScript"></script>
    <!-- Material icon cdn -->
    <!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body> 
    <nav>Today Emotion DashBoard</nav>
    <div id="left_menu">
        
    </div>
    <div class="search">
        <div class="search_date">-</div>
        <input id="search_text" class="form-control" type="text" value="" placeholder="YYYY-MM-DD"></input>
        <div id="search_btn" class="btn btn-default btn-sm" onclick="search()">
            <span class='material-icons'>search</span>검색
        </div>
        <input class="btn btn-primary btn-sm" type="button" value="Today" onclick="load_dom_content()"></input>
        <sapn>**2022-02-15 데이터 부터 워드클라우드가 표시 됩니다.</span>
    </div>
    <div id="wrap"></div>
</body>

<script src="{{ url_for('static', filename='js/create_svg.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_svg03.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_svg02.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/load_data.js') }}"></script>
<script src="{{ url_for('static', filename='js/load_dom.js') }}"></script>




</html>


