<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <!-- <link rel="stylesheet" type="text/css" href="/naver_news_crolling/flask/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js" type="text/JavaScript"></script>
</head>

<body> 
    <nav>Today Emotion DashBoard</nav>
    <div id="left_menu"></div>

    <div id="wrap">

        <p id="section_title">Recent Crolling Data State</p>
        <div class="section_wrap" id="crolling_state">
            <div class="content">
                <p id="menu_title">크롤링 정보</p>    
                <div id="y_crolling_info" class="normal_content">
                    <img src="/static/img/content_loading.gif">
                </div>
            </div>

            <div class="content">
                <p id="menu_title">카테고리별 뉴스 현황</p>
                <div id="svg_01" class="graph_content">
                    <img src="/static/img/content_loading.gif">
                </div>
            </div>

            <div class="content">
                <p id="menu_title">크롤링 속도 정보</p>
                <div id="svg_02" class="graph_content">
                    <img src="/static/img/content_loading.gif">
                </div>
            </div>
        </div>

        <p id="section_title">워드클라우드 테스트용입니다</p>
        <div class="section_wrap section_size_L" id="crolling_state">
            <div class="content">
                <p id="menu_title">종합 데이터 클라우드 정보</p>    
                <div id="svg_03" class="graph_content">
                    <img src="/static/img/content_loading.gif">
                </div>
            </div>

            <div class="content ">
                <p id="menu_title">종합 데이터 클라우드 정보02</p>    
                <div id="svg_04" class="graph_content">
                    <img src="/static/img/content_loading.gif">
                </div>
            </div>
        </div>

        
        <div class="section_wrap" style="display:block !important;">
            <h4 id="load_state">
                <img src="/static/img/loading.gif" width=50>
                로딩중...
            </h4>

            <table class="table" id="yesterday_info">
                <tr>
                    <th>ID</th>
                    <th>카테고리</th>
                    <th>기사제목</th>
                    <th>좋아요</th>
                    <th>훈훈해요</th>
                    <th>슬퍼요</th>
                    <th>화나요</th>
                    <th>기대되요</th>
                </tr>
    
            </table>
        </div>  
    </div>


</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_svg.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_svg02.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_svg03.js') }}"></script>


</html>


